@use '../../node_modules/bootstrap/scss/bootstrap';
@use 'my_variables' as *;

.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;
  &:hover {
    background-color: darken($primary-color, 10%);
    border-color: darken($primary-color, 10%);
  }
  color: #fff;
}

.logo {
  width: 1.5rem;
  display: none;
  height: 40px;
  margin-right: 5px;
}

.my-navbar-container {
  background-color: $primary-color;
}

.bg-primary {
  background-color: $primary-color !important;
}

.login-box {
  max-width: 600px;
  width: 100%;
  border: 3px solid $primary-color;
  min-height: 450px;
}
.register-box {
  max-width: 900px;
  width: 100%;
  border: 3px solid $primary-color;
  min-height: 600px;
}

.edit-post-box {
  max-width: 900px;
  width: 100%;
  border: 3px solid $primary-color;
  min-height: 600px;
}
.create-post-btn {
  margin: 50px;
  background-color: #f3f2f2;
  border: none;
  padding: 14px 24px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 20px;
  min-width: 200px;
}

#user-all-posts-follow-btn {
  margin: 10px;
  background-color: #f3f2f2;
  border: none;
  padding: 14px 24px;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
  gap: 20px;
  min-width: 200px;
}

.edit-line-separator {
  background-color: $primary-color;
  width: 100%;
  margin: 10px 0;
  height: 5px;
}

.navbar-nav .nav-link.active {
  font-weight: 600;
  font-size: 1.1rem;
}
