@use '../../node_modules/bootstrap/scss/bootstrap';
@use 'my_variables' as *;

.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;
  &:hover {
    background-color: darken($primary-color, 10%);
    border-color: darken($primary-color, 10%);
  }
  color: #fff;
}

.logo {
  width: 1.5rem;
  display: none;
  height: 40px;
  margin-right: 5px;
}

.my-navbar-container {
  background-color: $primary-color;
}

.bg-primary {
  background-color: $primary-color !important;
}

.login-box {
  max-width: 600px;
  width: 100%;
  border: 3px solid #cc7eb5;
  min-height: 450px;
}
